* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2, h3 {
    margin-bottom: 10px;
}

body {
    background: #333348;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.App {
    width: 1000px;
    color: #F1F3F4;
}


.users{
    width: 100%;
    display: flex;
    border-radius: 25px;
    margin-top: 25px;
    padding: 30px 20px;
    border: 2px solid #fff;
    justify-content: space-between;
    font-weight: 600;
}

.form {
    text-align: center;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.login {
    text-align: center;
    font-family: cursive;
    color: #F1F3F4;
    margin-bottom: 20px;
}

.btn__submit {
    margin-top: 12px;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background: #52519D;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.1s linear;
}

.btn__submit:hover {
    background: #7272c5;
}

